<div class="stamp"><a href="{{ s.url }}">{{ s.id }}</a><time datetime="{{ s.created }}">{{ s.date }}</time><span>{{ s.author }}</span>{% if s.source == "blog" %}<span>blog</span>{% elif s.isReply %}<span>reply</span>{% endif %}{% if s.replyCount %}<span>{{ s.replyCount }} {{ "reply" if s.replyCount == 1 else "replies" }}</span>{% endif %}</div>
